.container {
  padding: 10 10rem;
  padding-top: 5rem;
}

.container span {
    font-size: 16px;
    padding: 20px 40px;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
}
